/* If not using Tailwind, replace with equivalent CSS reset and utility imports or remove these lines */

body {
  background: #000;
  color: white;
}

html, body, #__next {
  height: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* MovieRow horizontal scroll hide scrollbar for WebKit */

.movie-row {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.movie-row::-webkit-scrollbar {
  display: none;
}
